.dmn-literal-expression-container {
  --decision-properties-background-color: var(--color-ffffff);
  --decision-properties-border-color: var(--color-444444);
  --decision-properties-color: var(--color-444444);
  --literal-expression-color: var(--color-444444);
  --literal-expression-properties-border-color: var(--color-444444);
  --literal-expression-properties-color: var(--color-444444);
  --powered-by-overlay-background-color: var(--color-000000-opacity-20);
  --powered-by-overlay-content-background-color: var(--color-ffffff);
  --powered-by-overlay-content-border-color: var(--color-cccccc);
  --powered-by-overlay-content-color: var(--color-444444);
  --textarea-border-color: var(--color-444444);
  --textarea-color: var(--color-444444);
  --view-drd-button-background-color: var(--color-ffffff);
  --view-drd-button-border-color: var(--color-cccccc);
  --view-drd-button-color: var(--color-444444);
  --view-drd-button-hover-background-color: var(--color-f6f6f6);
  --literal-expression-font-family: 'Arial', sans-serif;
  --literal-expression-font-family-monospace: monospace;

  font-family: var(--literal-expression-font-family);
  position: relative;
  color: var(--literal-expression-color);
  width: 100%;
  height: 100%;

  /* required to apply position: fixed correctly */
  transform: translate(0);
}

.dmn-literal-expression-container .viewer-container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.dmn-literal-expression-container * {
  box-sizing: border-box;
}

/* decision properties */
.dmn-literal-expression-container .decision-properties {
  border: 1px solid var(--decision-properties-border-color);
  border-bottom: none;
  padding: 10px;
  padding-right: 75px;
  color: var(--decision-properties-color);
  background-color: var(--decision-properties-background-color);
  position: relative;
  min-width: 192px;
}

.dmn-literal-expression-container .decision-name {
  margin: 0;
  font-size: 21px;
  font-weight: normal;
  white-space: pre;
}

.dmn-literal-expression-container .decision-name:not(.editor) {
  cursor: default;
}

.dmn-literal-expression-container .decision-name.editor {
  cursor: text;
}

.dmn-literal-expression-container .decision-name div {
  outline: none;
}

.dmn-literal-expression-container .decision-name:not(.editable),
.dmn-literal-expression-container .decision-name .content-editable {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.dmn-literal-expression-container .textarea .content,
.dmn-literal-expression-container .textarea .content-editable {
  padding: 12px;
}

.dmn-literal-expression-container .textarea .content-editable {
  height: 100%;
  box-sizing: border-box;
}

.dmn-literal-expression-container .decision-name.editor:not(.focussed):hover {
  cursor: text;
}

.dmn-literal-expression-container .decision-name.focussed .content-editable {
  text-overflow: unset;
}

/* textarea */
.dmn-literal-expression-container .textarea {
  box-sizing: border-box;
  width: 100%;
  font-family: var(--literal-expression-font-family-monospace);
  border: 1px solid var(--textarea-border-color);
  border-bottom-width: 1px;
  white-space: pre;
  font-size: 14px;
  color: var(--textarea-color);
  height: 250px;
  overflow: auto;
}

.dmn-literal-expression-container .textarea div:focus {
  outline: none;
}

.dmn-literal-expression-container .textarea.editor {
  cursor: text;
}

.dmn-literal-expression-container .textarea:not(.editor) {
  cursor: default;
}

/* literal expression properties */
.dmn-literal-expression-container .literal-expression-properties {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  border: 1px solid var(--literal-expression-properties-border-color);
  border-top: none;
  font-size: 14px;
  color: var(--literal-expression-properties-color);
}

.dmn-literal-expression-container .literal-expression-properties table {
  border-spacing: 8px;
}

.dmn-literal-expression-container .literal-expression-properties table tr td:first-child {
  font-weight: bold;
}

.dmn-literal-expression-container .literal-expression-properties table tr td:last-child {
  min-width: 100px;
}

.dmn-literal-expression-container .literal-expression-properties .variable-name-input {
  width: 100%;
}

/* view drd */
.dmn-literal-expression-container .view-drd {
  margin-right: 10px;
  padding-bottom: 10px;
}

.dmn-literal-expression-container .view-drd .view-drd-button {
  background: var(--view-drd-button-background-color);
  padding: 8px;
  border: solid 1px var(--view-drd-button-border-color);
  border-radius: 2px;
  font-size: 14px;
  color: var(--view-drd-button-color);
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.dmn-literal-expression-container .view-drd .view-drd-button:hover {
  background: var(--view-drd-button-hover-background-color);
}

/* powered by */

.dmn-literal-expression-container .powered-by {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 100;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 5px;
  background-color: var(--color-ffffff);
}

.dmn-literal-expression-container .powered-by__logo {
  z-index: 10;
}

.dmn-literal-expression-container .powered-by-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--powered-by-overlay-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.dmn-literal-expression-container .powered-by-overlay .powered-by-overlay-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  max-width: 260px;
  background: var(--powered-by-overlay-content-background-color);
  color: var(--powered-by-overlay-content-color);
  border: solid 1px var(--powered-by-overlay-content-border-color);
  border-radius: 2px;
  font-size: 14px;
}

.dmn-literal-expression-container .powered-by-overlay .powered-by-overlay-content .logo {
  margin: 15px 20px 15px 10px;
}
